#wrap #preface-wrap {
  width: 100%px;
  height: 400px;
}

h2 span {
  color: #2831d4;
  font-family: Georgia,Serif;
}

.content p {
  color: #c41d39;
}

.region #block-block-1 {
  background-color: transparent;
  text-align: center;
}

#block-system-navigation .content {
  color: #0d0d0d;
}

li a {
  color: #5233cc;
}

